<!doctype html>
<html class="no-js" lang="zxx">

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>-::  ::-</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
		
        
		
		
		
<style>
@media (min-width: 75em) {
  /*!--.container {
    margin: 2em auto;
    max-width: 75em;
  } */
}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: 0.9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
.responsive-table thead th {
  background-color: #6259ca;
  border: 1px solid #d1d1d1;
  font-weight: normal;
  text-align: center;
  color: white;
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: 0.5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
.responsive-table td {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
.responsive-table td {
    display: table-cell;
    padding: 0.5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
.responsive-table td {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
.responsive-table td {
    padding: 0.75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: 0.8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: 0.9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.responsive-table tbody th[scope=row] {
  background-color: #6259ca;
  color: white;
}
@media (min-width: 30em) {
  .responsive-table tbody th[scope=row] {
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope=row] {
    background-color: transparent;
    color: #000001;
    text-align: left;
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    text-align: center;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td:last-of-type {
    border-right: 1px solid #d1d1d1;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: 14px;
    color: #000;
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: 0.9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}
</style>

		
		
		
		<style>
	div.container { max-width: 1200px }
	</style>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
    </head>
    <body>

    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->


        <!-- header-start -->
		<header>
            
            <div id="sticky-header" class="main-menu-area" style="background: #6259ca;color:#fff;height: 90px;margin-top: -15px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 d-flex align-items-center">
                            <div class="logo">
                                <a href="javascript:;"><img src="assets/img/Final_logo.png" alt="" /></a>
                            </div>

                        </div>
                        <div class="col-xl-9 col-lg-9">
                            
                            <div class="main-menu text-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><i class="fa fa-user mr-2"></i><b>WELCOME : Harvindar Singh</b></li>
                                        
                                        <li><a href="login.html" style="color:#fff;"><i class="fa fa-sign-out mr-2"></i>Logout</a></li>
                                        
                                     
                                      
                                       
                                    </ul>
                                </nav>
                            </div>
							
							
							
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra-info">
                <div class="close-icon">
                    <button>
                        <i class="far fa-window-close" style="color:#fff;"></i>
                    </button>
                </div>
                <div class="logo-side mb-30">
                    <a href="javascript:;"><img src="assets/img/Final_logo.png" alt="" /></a>
                </div>
                <div class="side-info mb-30 contacts-us-form">
                    <div class="contact-list mb-30">
                        <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-append">
      <button class="btn" style="width: 0px;  background:#cd1c24;" type="button">
        <i class="fa fa-search" style="font-size: 23px; position: relative;  left: -10px; top: 2px;"></i>
      </button>
    </div>
  </div>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Phone Number</h4>
                        <p> 1800 2700 700</p>
                        <p> 1800 2700 701</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Email Address</h4>
                        <p>amithegishte@hdfcergo.com</p>
                        <p>amithegishte@hdfcergo.com</p>
                    </div>
                </div>
                
                <div class="social-icon-right mt-20">
                    <a href="javascript:;">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="javascript:;">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="javascript:;">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="javascript:;">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </header>
        <!-- header-start -->

        <main>
            <!-- slider start -->
           
			<div class="breadcrumb-area" style="background-image:url(assets/img/bg1.jpg); height:200px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1 style="color:#fff; font-size:35px;">Admin login portal</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>


		   <!-- slider end -->
			
			
			
			<div class="quote-area pt-30 pb-30">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-xl-12 col-lg-12">
                            <div class="quote-02-wrapper">
                                <div class="area-title-green mb-45">
                                    <span>Admin</span>
                                    <h1>Login Portal</h1>
                                </div>
                                <div class="quote-tab mb-40">
                                    <ul class="nav product-nav" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                               <i class="fa fa-user mr-2"></i> Setup
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                                <i class="fa fa-user-plus mr-2"></i> Bot Creation
                                            </a>
                                        </li>
                                        
                                    </ul>
                                    </div>
                                    <div class="product-tab-content">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                <div class="quote-2-wrapper">
                                                    <div class="row">
                                                        <div class="col-lg-6 mb-10">
														<b>BOT Name :</b>
                                                            <div class="single-input form-group">
																
															   <input type="text" name="name" class="form-control ht-50" placeholder="BOT Name" required="required">
															</div>
                                                        </div>
														<div class="col-lg-6 mb-10">
														<b>BOT Department :</b>
                                                            <div class="single-input form-group">
																<input type="text" name="name" class="form-control ht-50" placeholder="BOT Department" required="required">
															   
															</div>
                                                        </div>
                                                       <div class="col-lg-6 mb-10">
														<b>BA Location :</b>
                                                            <div class="single-input form-group">
																<input type="text" name="name" class="form-control ht-50" placeholder="Credential" required="required">
															   
															</div>
                                                        </div>
                                                        <div class="col-lg-6 mb-10">
														<b>Start Date :</b>
                                                            <div class="single-input form-group">
																<input type="date" name="name" class="form-control ht-50" placeholder="Credential" required="required">
															   
															</div>
                                                        </div>
														<div class="col-lg-6 mb-10">
														<b>End Date :</b>
                                                            <div class="single-input form-group">
																<input type="date" name="name" class="form-control ht-50" placeholder="Credential" required="required">
															   
															</div>
                                                        </div>
                                                    </div>
                                                    
                                                    <form class="quote-2-form" action="Dashboard.html" method="post">
                                                        <div class="row">
                                                            
                                                            <div class="col-lg-12">
                                                                <div class="quote-2-btn">
                                                                    <center>
																	
																	<a class="btn green-btn m-1" type="submit">Submit</a>
																	
																	
																	</center>
                                                                
																
																
																</div>
                                                            </div>
                                                        </div>
                                                    </form>
                                               </div>
											   
											   
											   
											   
								<div class="row">
                        <div class="col-md-12" style="margin: 0 auto; padding:0px;">
                            <div class="card card-outline-secondary" style="border:0px;">
                                <div class="card-body">
                                   
								   <div>
  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">BOT Name</th>
        <th scope="col">BOT Department</th>
        <th scope="col">BA Location</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Action</th>
       
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <th scope="row">ABC</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">DEF</th>
        <td data-title="Released">IT</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">GHI</th>
        <td data-title="Released">Admin</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
       <tr>
        <th scope="row">JKL</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">MNO</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">PQR</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      
    </tbody>
  </table>
</div>


							   </div><!-- card body -->
                            </div> <!-- card-outline -->
                        </div>
                    </div>
	
								
											   
											   
                                            </div>
                                            
											
											
											
											<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                           
										   
										     <div class="quote-2-wrapper">
                                                    <div class="row">
                                                        <div class="col-lg-6 mb-10">
														<b>User ID :</b>
                                                            <div class="single-input form-group">
																
															   <input type="text" name="name" class="form-control ht-50" placeholder="User ID" required="required">
															</div>
                                                        </div>
														<div class="col-lg-6 mb-10">
														<b>Role :</b>
                                                            <div class="single-input form-group">
																
															   <select class="form-control ht-50" required="required">
																	<option>-- Select --</option>
																	<option>User Role</option>
																	<option>Admin Role</option>
																	<option>BOT Creation</option>
																</select>
															</div>
                                                        </div>
                                                    </div>
                                                    
                                                    <form class="quote-2-form" action="Dashboard.html" method="post">
                                                        <div class="row">
                                                            
                                                            <div class="col-lg-12">
                                                                <div class="quote-2-btn">
                                                                    <center>
																	
																	<a class="btn green-btn m-1" type="submit">Submit</a>
																	
																	
																	</center>
                                                                
																
																
																</div>
                                                            </div>
                                                        </div>
                                                    </form>
                                               </div>
											   
											   
											   
											   
								<div class="row">
                        <div class="col-md-12" style="margin: 0 auto; padding:0px;">
                            <div class="card card-outline-secondary" style="border:0px;">
                                <div class="card-body">
                                   
								   <div>
  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">BOT Name</th>
        <th scope="col">BOT Department</th>
        <th scope="col">BA Location</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Action</th>
       
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <th scope="row">ABC</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">DEF</th>
        <td data-title="Released">IT</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">GHI</th>
        <td data-title="Released">Admin</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
       <tr>
        <th scope="row">JKL</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">MNO</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      <tr>
        <th scope="row">PQR</th>
        <td data-title="Released">HR</td>
        <td data-title="Studio">Mumbai</td>
        <td data-title="Worldwide Gross">01/12/2022</td>
        <td data-title="Domestic Gross">10/12/2022</td>
        <td data-title="International Gross">
		<a href="#"><span style="color:#1cc4d5; font-size:20px;"><i class="fa fa-edit pl-3 pr-3"></i></span></a> | 
		<a href="#"><span style="color:red; font-size:20px;"><i class="fa fa-remove  pl-3 pr-3"></i></span></a>
		</td>
        
      </tr>
      
    </tbody>
  </table>
</div>


							   </div><!-- card body -->
                            </div> <!-- card-outline -->
                        </div>
                    </div>
	
								

											   
										   </div>
										   
										   
										   
										   
										   
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			
			
			 <!-- services-area-start -->
           
		   

													
													
													
												
													
	
		   
		   
		   
            <!-- services-area-end -->

			
			
			
            

            <!-- footer-area-start -->
            <footer>
                <div class="footer-area" style="background:#e5e5e5;">
                    <div class="container">
                        
                        
						
						<div class="footer-bottom-area  pt-15 pb-15">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="copyright">
                                        <p style="color:#000; padding-top:5px;"> Copyright <i class="far fa-copyright"></i>2022 <a href="javascript:;">CLOVER INFOTECH</a> All Rights Reserved</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="footer-icon text-center text-md-right">
                                        <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                                        <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                                        <a href="javascript:;"><i class="fab fa-google"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer-area-end -->









        </main>





		<!-- JS here -->
        <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
      
        <script src="assets/js/bootstrap.min.js"></script>
       
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.meanmenu.min.js"></script>
        <script src="assets/js/ajax-form.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/jquery.scrollUp.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
      
        <script src="assets/js/main.js"></script>

       
	
	
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        responsive: true
    } );
} );

</script>
	
	
	</body>


</html>